*{
  font-family: "Cardo", serif; /*font-family: "Kalam", cardo;*/
  
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  background-color:#f0f0f0;
}

/* Criar um efeito de paralaxe */
.bgimg-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* imagem) */
.bgimg-1 {
  background-image: url('https://wallpapercave.com/wp/UAtM37k.jpg');
  min-height: 100%;
}

/* Cor dos itens da barra de navegação quando a barra está no topo */
.w3-bar .w3-bar-item {
  color: white; /* Cor dos itens no topo */ /*#f0f0f0*/
  
}

/* Alterar a cor dos itens da barra de navegação quando rola a página */
.w3-bar.w3-card.w3-animate-top .w3-bar-item {
  color: black; /* Cor dos itens quando rola */
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

/* Desativar a rolagem de paralaxe para tablets e telefones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* Container */
.texto {
  text-align: center;
}

.ab {
  color: #42a2a5;
  text-decoration-line: underline;
  font-size: 20px;
  font-family: "Cardo", serif; /* Change font for links */
}

a:hover {
  color: black;
}


/*imagens SG*/

.sg{
  margin-left: 7.49%;
  font-size: 35px;
  color:#215555;
}

.ima{
  float: left;
  width: 16.66%;
  padding: 5px;
  
}

.titulo{
  text-decoration-line: underline;
  text-align:center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
 
}

.ima img{
  width:100%;
  padding: 2px;
}

.imgfilmes{  
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 7%;
  margin-left: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.imgfilmes::after {
  content: "";
  clear: both;
  display: table; 
  
}

@media screen and (max-width: 780px) {
  .imgfilmes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
  }
  
  .ima {
    width: 30%; 
    margin: 0px; 
  }
  
}

/*Imagens CM*/

.imaCM{
  float: left;
  width: 17.90%;
  padding: 5px;
  
}

.imaCM img{
  width:100%;
  padding: 2px;
}

.sobrando{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.sobrando::after {
  content: "";
  clear: both;
  display: table; 
  
}

@media screen and (max-width: 780px) {
  .sobrando {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
  }
  
  .imaCM {
    width: 30%; 
    margin: 0px; 
  }
  
}

/*Imagem S*/

.imaS{
  float: left;
  width: 16.65%;
  padding: 5px;
  
}

.imaS img{
  width:100%;
  padding: 2px;
}

.unico{
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 7%;
  margin-left: 7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.unico::after {
  content: "";
  clear: both;
  display: table; 
  
}

@media screen and (max-width: 780px) {
  .unico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:10px;
  }
  
  .imaS {
    width: 30%; 
    margin: 0px; 
  }
  
}

/*Formulário*/
.form-container {
    max-width: 500px;
    margin: auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group .error {
    color: red;
    font-size: 0.875em;
}