
body {
  font-size: 28px;
}

.cabecalho {
  background-color: #b489f8;
  padding: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  color: white;
}

/*barra*/
ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden;
  background-color: #9f6dee; /*#9f6dee*/
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

/*lado da barra*/
li {
  float: left;
}

/*letra da barra*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/*cor da barrinha quando passa o mouse*/
li a:hover {
  background-color: #5a3288;
}

.barra {
  background-color: #5a3288;
  font-family: 'Times New Roman', Times, serif;
}

/*teste pesquisa*/



