
body {
  margin: 0;
  background-color: #ffffff;
  
}


.cabecalho {
  background-color: #ffffff;
  padding: 1px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: #b489f8;

}

/*barra*/
ul {
  list-style-type: none;
  margin: 0; 
  padding: 0px;
  overflow: hidden;
  background-color: #9f6dee; /*#9f6dee*/
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*lado da barra*/
li {
  float: left;
}

/*letra da barra*/
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 25px;
}

/*cor da barrinha quando passa o mouse*/
li a:hover {
  background-color: #5a3288;
}

.barra {
  background-color: #5a3288;
  font-family: 'Times New Roman', Times, serif;
}


.imagem{
  margin: 50px;
  
  }

  .frase{
    color: black;
  }

  
  .botao{
    justify-content: right;
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: relative;
    top: 10px;
    left: 500px; 

    }
 
 




