* {
  margin: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: "DM Serif Text", serif;
  background-color:#f0f0f0;
}

/* Adicionar uma altura mínima e garantir que a imagem cubra a área visível */
.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://wallpaperaccess.com/full/163574.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn {
  font-family: "DM Serif Text", serif;
  background-color: transparent;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  
}

.btn:hover{
  background-color: #787878;
}

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0f0f0;
}

/* Estilizar o contêiner para colunas */
.column-container {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 9%;
  margin-left: 9%;
}

/* Criar duas colunas que flutuam uma ao lado da outra */
.column {
  float: left;
  width: 48%; 
  padding: 10px;
  
}

/* Limpar flutuadores após as colunas */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Layout responsivo - faz com que as colunas se empilhem umas sobre as outras em vez de próximas umas das outras */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
  }
}

.margintexto {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 10px;
  font-size:20px;
  color: Grey; 
}

.letra{
  font-size:20px;
  color: Grey; 
}

.letratab{
  font-size:18px;
  color: Grey; 
}

table {
  border-collapse: collapse;
}


    table {
        width: 100%; /* Faz a tabela ocupar 100% do container */
        border-collapse: collapse; /* Remove espaços entre células */
    }
    td {
        padding: 8px; /* Adiciona espaçamento interno */
        border: 1px solid #ddd; /* Adiciona borda às células */
        white-space: nowrap; /* Impede quebra de linha por padrão */
    }
    @media (max-width: 800px) {
        td {
            font-size: 15px; /* Ajusta o tamanho da fonte em telas menores */
        }
    }


.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; /* Ajuste o padding conforme necessário */
}

.video-container {
  position: relative;
  width: 100%; 
  max-width: 1700px; 
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 5px;
  width: 100%;
  height: 100%;
}

.trilha{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .trilha {
    width: 100%;
    left: 15px;
    display: flex;
    justify-content: center;
  }
}

/*rodapé*/

footer {
  padding: 80px;
  background-color: #b4b4b4;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.corb {
  font-family: "DM Serif Text", serif;
  background-color: #f0f0f0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
}

.corb:hover{
  background-color: #e6e4e4;
}

 .corb i {
   margin-left: 8px;
}
